# Node
node_modules/
.next/
dist/

# Flutter/Dart/Pub
.dart_tool/
.packages
build/
.pub-cache/
.pub/
/build/

# Android
**/android/app/src/debug/
**/android/app/src/profile/
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/**/xcshareddata/

# Windows
**/windows/flutter/ephemeral/
**/windows/flutter/generated_plugin_registrant.cc

# MacOS
**/macos/Flutter/ephemeral/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Linux
**/linux/flutter/ephemeral/

# Web
**/web/build/

# IDEA
.idea/
*.iml
*.iws

# MacOS
.DS_Store

# Logs
*.log
